---
import "../styles/global.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
const pageTitle = "About Me";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <p>This blog is coded by hand from the ground up in Astro. No templates, no prebuilt HTML or CSS. It's just me, a static site generator, a bunch of tutorials, and the troubleshooting support of some helpful friends. This site is a learning exercise as well as a general dev blog. </p>
    <p>My goals with this project are:</p>
        <ul>
            <li>to create a website I actually enjoy updating through use of a static site generator</li>
            <li>to practice using Git, GitHub, and Neocities through regular commits and pushes</li>
            <li>to document my thinking process and development of various projects, for my own future reference and public proof of what I've learned</li>
        </ul>
    <Footer />
  </body>
</html>
