---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <Navigation />
    <h1>blog</h1>
    <p>time to make some Poasts on Tumbler Dot Commm</b>
  </body>
</html>
