---
import "../styles/global.css";
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>  
    <h1>blog</h1>
    <p>time to make some Poasts on Tumbler Dot Commm</b>
  </body>
</html>
