---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";
import Footer from "../components/footer.astro";
// console.log('This displays a print in the terminal when the page loads.');
// console.log(Navigation); will inspect the properties of an imported element
---
<html>
  <body>
    <Navigation />
    <h1>bashrocks</h1>
    <p>bash rocks! but i also want to bash it with rocks.</b>
    <Footer />
  </body>
</html>
