---
---
<!--
<div id="main-menu" class="nav-links">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/blog">blog</a>  
</div>
-->

<!-- kalechips burger menu -->

<details id="burger">
    <summary id="toggle">Menu</summary>
    <nav id="menu">
        <ul>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li class="skip"><a href="#toggle">Close menu</a></li>
        </ul>
    </nav>
</details>

<!-- kalechips burger menu ends -->

<style>
  a {
    padding: 0.5rem 1rem;
    color: #222;
    background-color: #22dd44;
    text-decoration: none;
  }
</style>
