---
---
<a href="/">home</a>
<a href="/about">about</a>
<a href="/blog">blog</a>  
<style>
  a {
    padding: 0.5rem 1rem;
    color: #222;
    background-color: #22dd44;
    text-decoration: none;
  }
</style>
